* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main .container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: hsl(257, 40%, 49%);
    padding: 50px 80px;
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
}

header .contain {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .contain img {
    width: 18%;
}

section .contain {
    display: flex;
    padding: 70px 0 0 0;
    gap: 50px;
}

section .contain .right {
    display: grid;
    padding: 50px 0;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    gap: 20px;
}

section .contain .right .text {
    font-size: 35px;
    font-weight: 800;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

section .contain .right p {
    font-size: 17px;
    line-height: 1.5;
    color: #eee;
}

section .contain .right button {
    width: fit-content;
    padding: 12px 50px;
    background-color: #fff;
    outline: none;
    box-shadow: 2px 2px 15px 10px hsl(257, 43%, 39%);
    border: none;
    border-radius: 30px;
    color: hsl(257, 40%, 49%);
    transition: .3s;
}

section .contain .right button:hover {
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

footer .contain {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .contain .icons {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

footer .contain .icons i {
    border: 2px solid #eee;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    transition: .3s;
}

footer .contain .icons i:hover {
    cursor: pointer;
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

@media (max-width:992px) {
    .main .container {
        background-image: url(./images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    header .contain img {
        width: 30%;
    }
    section .contain {
        display: grid;
    }
    section .contain .left img {
        width: 100%;
    }
    section .contain .right .text {
        font-size: 40px;
        line-height: 1.5;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        width: 90%;
        text-align: center;
    }
    section .contain .right p {
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        width: 76%;
        text-align: center;
        font-size: 20px;
    }
    section .contain .right button {
        padding: 12px 70px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
    footer .contain {
        justify-content: center;
    }
    footer .contain .icons i {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }
}